.popup__form-job {
    box-sizing: border-box;
    width: 358px;
    height: 27px;
    margin: 0 36px 48px;
    border-style: none;
    border-width: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

@media screen and (max-width:568px) {
    .popup__form-job {
        width: 238px;
        margin: 0 23px 45px;
    }
}